<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>톺아보기</span></h4>  
    <ol class="list-featured">				
        {% for post in site.tags.featured %}                
            <li class="mb-4">
            <span>
                <p style="margin-bottom: 0;font-weight: 200;text-transform: uppercase;font-size: smaller;" class="text-muted">
                    {% for category in post.categories %}
                    <a class="text-muted smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep"> </span>
                    {% endfor %}
                </p>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
                <span class="d-block text-muted">
                    <div>
                    {{ post.date | date: '%m월 %d일' }} · 
                    {% assign words = post.content | number_of_words %}
                    {% if words < 360 %}
                    1분
                    {% else %}
                    {{ words | divided_by:180 }}분
                    {% endif %}
                    <i class="fa fa-star text-gray"></i>
                    </div>
                </span>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 